.listContainer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  background-color: rgba(246, 194, 92, 0.1);
}

.cartList {
  margin: 20px auto;
  width: 90%;
}

.total {
  text-align: center;
  font-style: italic;
  margin-bottom: 3.5rem;
  color: gray;
}