.listContainer {
  display: flex;
  flex-direction: column;

  background-color: rgba(246, 194, 92, 0.1);
}

.cartList {
  margin: 1rem auto;
  width: 90%;
}

.total {
  text-align: center;
  font-style: italic;
  margin-bottom: 2rem;
  color: gray;
}