.button{
    background-color: #085372;
    color: #f7bf48;
    padding:5px 10px;
    cursor: pointer;
    border-radius:10px;
    font-weight: 700;
    margin:5px;
}
.button:hover {
    background-color: #f6c25c;
    color: #085372;
}