.ctaButton {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #f6c25c;
  border-radius: 10px;
  color: #085372;
  text-align: center;
  font-weight: 700;
  border: 0;
  margin: 10px;
  font-size: 16px;
}

.ctaButton:hover {
  background-color: #085372;
  color: #f6c25c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
