
/*.menuPackages {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    gap: 20px;*/
/*}*/

.menuPackageCard {
    display: flex;
    height: 300px;
    background-color: rgba(246,194,92,0.1);
    flex-wrap: center;
    margin: 2rem;
    /*border: solid 1px #f6c25c;*/
    border-radius: 10px;
    overflow: hidden;
}

.menuPackageInfo {
    position: relative;
    width: 100%;
    margin: 0 2rem 0 2rem;
    /* padding: 40px; */
    color: #085372;
    line-height: 2rem;
}

.packageHeadline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.packageItemsList {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

.listContent{
    line-height: 1.5rem;
}

.btnContainer {
    margin: 0;
}

.orderBtn {
    position: absolute;
    bottom: 20px;
    left: 40px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: #085372;
    color: #f6c25c;
    border-radius: 10px;
    cursor: pointer;
}

.orderBtn:hover {
    background-color: #f6c25c;
    color: #085372;
}

.categoryItemsList {
    font-size: 1rem;

    /*text-transform: uppercase;*/
}

.categoryTitle {
    font-size: 0.8rem;
}