/* Style for the thank you message container */
.thankyoucontainer {
  text-align: center;
  background-color: #f5f5f5;
  background-color:#f6c25c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  margin: 2rem 2rem 2rem 2rem;


}

/* Style for the thank you message text */
.thankyoumessage {
  font-family:'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  color: #085372;
  
}




 
